<%= render "pages/partials/top" %>

<div class="section">
  <h2>MY WORK HISTORY</h2>
  <h3>Shapr3D</h3>
  <p>
    Backend Software Engineer<br/>
    CAD software company<br/>
    Go, AWS, SQL<br/>
    <a href="https://www.shapr3d.com/" target="_blank">shapr3d.com</a><br/>
  </p>
  <h3>Babbels</h3>
  <p>
    Software Engineer<br/>
    Internal business communications app.<br/>
    Flutter, Dart, Firebase, TypeScript<br/>
    <a href="https://play.google.com/store/apps/details?id=com.communication.babbels" target="_blank">Play Store link</a>
  </p>
  <h3>KPN</h3>
  <p>
    Intern<br/>
    Detecting commercial breaks in TV recordings.<br/>
    Multimedia analysis, Python<br/>
    <a href="https://kpn.com/" target="_blank">kpn.com</a>
  </p>
</div>
