<%= render "pages/partials/top" %>

<div class="section">
  <h2>MY WORK HISTORY</h2>
  <h3>Shartey</h3>
  <p>
    2025-04 — present<br />
    Algorithmic trading fund<br/>
    Resp.: implementing strategies and simulations, data science, Python<br/>
    <a href="mailto:info@shartey.com">info@shartey.com</a>
  </p>
  <h3>Shapr3D</h3>
  <p>
    2024-01 — 2024-06<br />
    CAD software company<br/>
    Resp.: backend, user auth, payment processing, Go, AWS, SQL<br/>
    <a href="https://www.shapr3d.com/" target="_blank">shapr3d.com</a>
  </p>
  <h3>Babbels</h3>
  <p>
    2022-01 — 2023-08<br />
    Internal business communications app<br/>
    Resp.: full stack, Flutter, Dart, Firebase, TypeScript<br/>
    <a href="https://play.google.com/store/apps/details?id=com.communication.babbels" target="_blank">Google Play Store</a>
  </p>
  <h3>KPN</h3>
  <p>
    Autumn of 2021<br />
    Intern<br/>
    Detecting commercial breaks in TV recordings<br/>
    Resp.: multimedia analysis, Python<br/>
    <a href="https://kpn.com/" target="_blank">kpn.com</a>
  </p>
</div>
