<%= render "pages/partials/top" %>

<div class="section">
  <h2>MY WORK HISTORY</h2>
  <h3>Shapr3D</h3>
  <p>
    Backend Software Engineer<br/>
    CAD software company<br/>
    Go, AWS, SQL<br/>
    <a href="https://www.shapr3d.com/">shapr3d.com</a><br/>
  </p>
  <h3>Babbels</h3>
  <p>
    Software Engineer<br/>
    Internal business communications app.<br/>
    Flutter, Dart, Firebase, TypeScript<br/>
    <a href="https://babbels.nl/">babbels.nl</a>
  </p>
  <h3>KPN</h3>
  <p>
    Intern<br/>
    Detecting commercial breaks in TV recordings.<br/>
    Multimedia analysis, Python<br/>
  </p>
</div>
