<head>
  <link rel="stylesheet" href="/other-styles/nice.css">
</head>

<div>
  <img src="/cholesterol.webp" alt="Cholesterol illustration">
  <div class="spacer"></div>
  <%= render_md(misc_md_dir.join("kolesterol.md")) %>
</div>
