<style>
    body {
        background-color: #303;
    }
</style>

<div>
    <pre>
        <code>alfjealj faelfjaejf aejf alejfaefjapejfqejf qejf qefjqpe jeqpjfg qej qewjg qejg pqejg pqwejg qpeg</code>
    </pre>
</div>