<div id="about" class="section">
  <h2>ABOUT</h2>
  <ul>
    <li>
      Usually a software dev
    </li>
    <li>
      I like cybersec, finance, metaphysics, math, energy, biochemistry and
      playing music
    </li>
    <li>
      Location: Europe
    </li>
    <li>
      My time:
      <%= render_my_time_partial %>
    </li>
  </ul>
</div>
