<div id="about" class="section">
  <h2>ABOUT</h2>
  <ul>
    <li>
      <p>Usually a software dev, ex founder</p>
    </li>
    <li>
      <p>I like finance, coding, metaphysics, math, energy, biochemistry and
        playing music</p>
    </li>
    <li>
      <p>Currently freelancing</p>
    </li>
    <li>
      <p>Location: Europe</p>
    </li>
    <li>
      <p>
        My time:
        <%= render_my_time_partial %>
      </p>
    </li>
  </ul>
</div>
