<div id="about" class="section">
  <h2>ABOUT</h2>
  <ul>
    <li>
      Full time: making trading algos
    </li>
    <li>
      Part time: working on <a href="https://readingapp.mrnb.net" target="_blank">a reading app</a> and making music
    </li>
    <li>
      Previously cofounder of <a href="https://vybe.social" target="_blank">a party app</a>
    </li>
    <!--
    <li>
      Interests: making music, finance, cybersec, math, biochemistry, metaphysics and epistemology
    </li>
    -->
    <li>
      Location: Croatia
    </li>
    <li>
      My time:
      <%= render_my_time_partial %>
    </li>
  </ul>
</div>
