<div id="contact-and-links" class="section">
  <h2>CONTACT & LINKS</h2>
  <ul>
    <li>
      <b>SimpleX</b>:
      <a
        href="https://simplex.chat/contact#/?v=2-7&smp=smp%3A%2F%2FSkIkI6EPd2D63F4xFKfHk7I1UGZVNn6k1QWZ5rcyr6w%3D%40smp9.simplex.im%2F31FfK_pfUeFhgJ0c-KU5LRFf1YEMKVNz%23%2F%3Fv%3D1-3%26dh%3DMCowBQYDK2VuAyEAuM6kuLT3D7USJYGDu03wKYRKapXEKgqB8Uw_8rzoiU4%253D%26srv%3Djssqzccmrcws6bhmn77vgmhfjmhwlyr3u7puw4erkyoosywgl67slqqd.onion"
        target="_blank"
      >my address</a>
    </li>
    <li>
      <b>E-mail</b>:
      <a href="mailto:<%= contact_email %>"><%= contact_email %></a>
    </li>
    <li>
      <b>Nostr</b>:
      <%= ENV["NOSTR"] %>
      <a
        href="https://primal.net/p/npub1m3c7arrpaj9e0zypyprkzg5eqvenj3qpk7ern32qtydfqmw8vcks9szk59"
        target="_blank"
      >Primal profile</a>
    </li>
    <li>
      <b>GitHub</b>:
      <a href="https://github.com/isomiki" target="_blank">github.com/isomiki</a>
    </li>
    <li>
      <b>X</b>:
      <a href="https://x.com/isomiki_" target="_blank">x.com/isomiki_</a>
    </li>
    <li>
      <b>LinkedIn</b>:
      <a href="https://linkedin.com/in/marinbelec" target="_blank">linkedin.com/in/marinbelec</a>
    </li>
    <li>
      <b>Telegram, Signal, Matrix, Briar, etc.</b>: I got em, contact me
    </li>
  </ul>
</div>
