<div id="crypto" class="section">
  <h2>CRYPTO</h2>
  <h3>Bitcoin</h3>
  <p><%= ENV["BITCOIN"] %></p>
  <img class="crypto-qr" src="/bitcoin.png" alt="Bitcoin wallet address">
  <h3>Monero</h3>
  <p><%= ENV["MONERO"] %></p>
  <img class="crypto-qr" src="/monero.png" alt="Monero wallet address">
  <!--
  <br/>
  <br/>
  <p>Ethereum:</p>
  <p><%= ENV["ETHEREUM"] %></p>
  <img
    class="crypto-qr"
    src="../images/ethereum.png"
    alt="Ethereum wallet address"
  >
  <br/>
  <br/>
  <p>L2s, Solana, Avalanche, etc.:
    <a href="/contact">contact me</a></p>
  -->
</div>
