<div id="posts" class="section">
  <h2>POSTS</h2>

  <% if load_posts.present? %>
    <% load_posts.each do |post| %>
      <span class="accent-text">[<%= post[:index] %>]
        <%= link_to post[:title], post_path(name: post[:file_name]) %></span><br />
    <% end %>
  <% else %>
    <p>Empty</p>
  <% end %>
</div>
