<div id="projects" class="section">
  <h2>PROJECTS & WORK</h2>
  <!-- 1 -->
  <h3>Vybe</h3>
  <p>
    Ex Co-founder & CTO The social app for real life. Organize events and hang
    out with people near you.<br/>
    <a href="https://vybe.social/" target="_blank">vybe.social</a><br/>
    Active in Poland. Over 100k users.<br/>
    Completed seed funding round.
  </p>
  <!-- 2 -->
  <h3>Digitally Enhanced Club</h3>
  <p>
    Education platform, currently focused on 3D modeling in Blender.<br/>
    I'm not the teacher, I set up and maintain the IT side.<br/>
    <a href="https://digitallyenhanced.club/" target="_blank">digitallyenhanced.club</a>
  </p>
  <!-- 3 -->
  <h3>ManUp App</h3>
  <p>
    An app for guided self-improvement and building routines.<br/>
    It's an idea, we have lots of work left.
  </p>
  <!-- 4 -->
  <h3>Work history</h3>
  <a href="/m/jobs">Here</a>
</div>
