<div id="projects" class="section">
  <h2>PROJECTS & WORK</h2>
  <!-- 1 -->
  <h3>Vybe</h3>
  <p><a href="https://vybe.social/" target="_blank">vybe.social</a></p>
  <p>Cofounder (exited)</p>
  <p>
    The social app for real life. Organize events and hang
    out with people near you.
  </p>
  <p>100k+ users. Active in Poland.</p>
  <p>Completed seed funding round.</p>
  <!-- 2 -->
  <h3>Reading comprehension app</h3>
  <p><a href="https://readingapp.mrnb.net/read" target="_blank">readingapp.mrnb.net/read</a></p>
  <p>An app to measure and track your reading comprehension.</p>
  <p>Uses AI for assessing comprehension.</p>
  <!-- 3 -->
  <h3>Digitally Enhanced Club</h3>
  <p><a href="https://digitallyenhanced.club/" target="_blank">digitallyenhanced.club</a></p>
  <p>
    Education platform focused on 3D modeling in Blender.<br/>
  </p>
  <p>I maintain the site, payment processing and email lists.</p>
  <p>The teacher is my brother.</p>
  <!-- 4 -->
  <h3>ManUp App</h3>
  <p>
    An app for guided self-improvement and building routines.<br/>
    We had an idea, made a prototype but shut it down.
  </p>
  <!-- 5 -->
  <h3>Work history</h3>
  <a href="/m/jobs">Here</a>
</div>
