<div id="summary" class="section">
  <!--<h2>TLDR</h2>-->
  <ul>
    <li>
      <span class="list-label">Full time:</span> making trading algos
    </li>
    <li>
      <span class="list-label">Part time:</span> working on a <a href="https://readingapp.mrnb.net/read" target="_blank">reading app</a> and making music
    </li>
    <li>
      <span class="list-label">Previously:</span> cofounder of a <a href="https://vybe.social" target="_blank">party app</a>; exited
    </li>
    <!--
    <li>
      <span class="list-label">Interests:</span> making music, finance, cybersec, math, biochemistry, metaphysics and epistemology
    </li>
    -->
    <li>
      <span class="list-label">Location:</span> Croatia
    </li>
    <li>
      <span class="list-label">My time:</span>
      <%= render_my_time_partial %>
    </li>
  </ul>
</div>
