<div id="top">
  <h1 id="title">
    <a href="../">
      <%= page_title %>
    </a>
  </h1>
  <!--<div>
    <span class="toc-item"><a href="../">home</a></span>
    <span class="toc-item"><a href="/projects">projects</a></span>
    <span class="toc-item"><a href="/contact">contact & links</a></span>
    <span class="toc-item"><a href="/posts">posts</a></span>
    <span class="toc-item"><a href="/crypto">crypto</a></span>
    <span class="toc-item"><a href="/p/tools.php">tools</a></span>
  </div>-->
</div>
